* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --color-primary: #202323;
    --color-primary-white: #FFFFFF;
    --card-color: #F8F8F8;
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    background-color: var(--color-primary-white);
    background-color: var(--color-primary);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

a {
    color: var(--color-primary-white);
}

.btn {
    display: inline-block;
    background: var(--color-primary-white);
    color: var(--color-primary);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
}

.btn:hover {
    background: transparent;
    color: var(--color-primary-white);
    border-color: var(--color-primary-white);
}


/* nav */

nav {
    background: var(--color-primary);
    width: 100vw;
    height: 5rem;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button {
    display: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.nav-menu a {
    font-size: 0.9rem;
    font-weight: 500;
}

.nav-menu a:hover {
    font-size: 0.9rem;
    font-weight: 300;
    color: #BABABA;
}


/* header */

header {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    margin-bottom: 5rem;
}

.header-img {
    width: 70%;
    /* height: 30%; */
    display: block;
    object-fit: cover;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 25rem;
    height: 100%;
}

.header-icon {
    font-size: 2.5rem;
}

.header-left {
    color: var(--color-primary-white);
}


/* about */

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 25rem;
    height: 100%;
}

.about {
    position: relative;
    top: 5rem;
    overflow: hidden;
    height: 70vh;
    width: 100%;
    margin-bottom: 5rem;
    background: var(--color-primary-white);
}

.about-img {
    width: 60%;
    display: block;
    object-fit: cover;
}

.about-h1 {
    padding-bottom: 1rem;
}

.about-left {
    color: var(--color-primary);
}


/* work */

.work {
    background: var(--color-primary-white);
}

.work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}

.card-image {
    width: 60%;
    display: block;
    align-self: center;
    margin-left: 20%;
    padding-top: 1rem;
}

.card-work {
    background-color: var(--card-color);
    padding: 2rem;
    border-radius: 1rem;
}

.work-p {
    padding-top: 1rem;
}

.work-title {
    width: var(--container-width-lg);
    margin: 0 auto;
    padding-bottom: 2rem;
}


/* experience */

.experience {
    background: var(--color-primary-white);
}

.h4-experience {
    margin-top: 2rem;
}

.p-experience {
    margin-top: 0.5rem;
}


/* contact */

.contact-container {
    color: var(--color-primary-white);
    text-align: center;
}

.contact-icon {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 3rem;
    letter-spacing: 2.5rem;
}

.p-contact {
    margin-top: 4rem;
    text-align: center;
}


/* Media Queri Tablet */

@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md);
    }
    h1 {
        font-size: 2.2rem;
    }
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.4rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    nav button {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-primary-white);
        cursor: pointer;
    }
    nav button#close-menu-button {
        display: none;
    }
    .nav-menu {
        position: fixed;
        top: 5rem;
        right: 1%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        background: #f9f9f9;
        z-index: 100;
        border-radius: 6px;
        display: none;
    }
    .nav-menu li {
        width: 100%;
        height: 5.8rem;
    }
    .nav-menu li a {
        width: 100%;
        height: 100%;
        color: var(--color-primary);
        display: grid;
        place-items: center;
    }
    /* header */
    header {
        position: relative;
        top: 5rem;
        overflow: hidden;
        height: 30vh;
        margin-bottom: 0rem;
    }
    .header-img {
        width: 70%;
        /* height: 30%; */
        display: block;
        object-fit: cover;
    }
    .header-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 10rem;
        height: 50%;
    }
    .header-icon {
        font-size: 2.6rem;
    }
    /* about */
    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 10rem;
        height: 50%;
    }
    .about {
        position: relative;
        top: 5rem;
        overflow: hidden;
        height: 40vh;
        width: 100%;
        margin-bottom: 1rem;
        background: var(--color-primary-white);
    }
    .about-img {
        width: 60%;
        display: block;
        object-fit: cover;
    }
    .about-h1 {
        padding-bottom: 1rem;
    }
    .about-left {
        color: var(--color-primary);
    }
    /* work */
    .work {
        background: var(--color-primary-white);
        margin: auto;
    }
    .work-container {
        display: inline;
    }
    .card-image {
        width: 30%;
        display: block;
        align-self: center;
        margin-left: 30%;
        padding-top: 1rem;
    }
    .card-work {
        background-color: var(--card-color);
        padding: 2rem;
        border-radius: 1rem;
        margin-left: 5%;
        margin-bottom: 1.5rem;
        width: var(--container-width-md);
    }
    .work-p {
        padding-top: 1rem;
    }
    .work-title {
        width: var(--container-width-md);
        margin: 0 auto;
    }
    /* expereince */
    .experience {
        background: var(--color-primary-white);
        height: auto;
        margin: 0rem;
    }
    .experience-container {
        margin-top: 0rem;
        position: center;
    }
    .h4-experience {
        margin-top: 1rem;
    }
    .p-experience {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width:600px) {
    .container {
        width: var(--container-width-sm);
    }
    .nav-menu {
        position: fixed;
        top: 4rem;
        right: 1%;
        height: fit-content;
        width: 10rem;
        flex-direction: column;
        gap: 0;
        background: #f9f9f9;
        z-index: 100;
        border-radius: 6px;
        display: none;
    }
    .nav-menu li {
        width: 50%;
        height: 4rem;
    }
    header {
        height: 80vh;
    }
    .header-container {
        display: inline;
        margin-top: 0;
        text-align: center;
    }
    .header-icon {
        font-size: 2rem;
        align-self: center;
    }
    .header-right {
        margin-top: 5rem;
        align-self: center;
        margin-left: 20%;
    }
    /* about */
    .about-container {
        display: inline;
        align-items: center;
        height: 50%;
        text-align: center;
    }
    .about {
        top: 5rem;
        height: 100vh;
        width: 100%;
        margin-bottom: 1rem;
        background: var(--color-primary-white);
    }
    .about-img {
        align-self: center;
    }
    .card-image {
        width: 40%;
        display: block;
        align-self: center;
        margin-left: 30%;
        padding-top: 1rem;
    }
    /* contac */
    .contact-container {
        color: var(--color-primary-white);
        text-align: center;
        align-self: center;
    }
    .contact-icon {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 2rem;
        letter-spacing: 1.5rem;
    }
    .p-contact {
        margin-top: 3rem;
        text-align: center;
    }
}